:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  padding: 0;
  font-family: "Rubik", "sans-serif";
  font-size: 18px;
  letter-spacing: 0.01rem;
  word-spacing: 0.1rem; }

body, h1, h2, p {
  margin: 0; }

span {
  margin-right: 0.2rem; }

.header {
  background-image: url("images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 2rem;
  position: relative;
  height: 300px; }

.container {
  padding-left: 7%;
  padding-right: 7%;
  text-align: center; }

.heading {
  color: #fff;
  font-size: calc(1.5rem + 0.3vw);
  font-weight: 500;
  margin-bottom: 2rem; }

.search-bar {
  border-radius: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto; }

.search-bar__input {
  border: none;
  border-radius: 0.9rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #454545;
  font-family: "Rubik", "sans-serif";
  font-weight: 400;
  font-size: 1.1rem;
  padding: 1.2rem 1.5rem;
  padding-right: 1rem;
  -ms-flex-preferred-size: 82%;
      flex-basis: 82%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .search-bar__input:focus {
    outline: none; }

.search-bar__button {
  background-color: #000;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: none;
  cursor: pointer;
  padding: 1em;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  -webkit-transition: linear .2s;
  -o-transition: linear .2s;
  transition: linear .2s; }
  .search-bar__button:focus {
    outline: none; }
  .search-bar__button:hover {
    background-color: #454545; }

.result {
  background-color: #fff;
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  max-width: 1200px;
  margin: auto;
  z-index: 100;
  position: relative;
  overflow: hidden;
  margin-top: 1.5rem; }
  @media (min-width: 768px) {
    .result {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-top: 3rem; } }
  @media (min-width: 1024px) {
    .result {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 3rem;
      padding-left: 0; } }
  .result.loading:after {
    display: none; }

@media (min-width: 768px) {
  .result::after {
    content: "";
    position: absolute;
    left: 50%;
    height: 80%;
    border: 1px solid #e3e3e3; } }
@media (min-width: 1024px) {
  .result::after {
    display: none; } }

.loading.result {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem; }

@media (min-width: 768px) {
  .result__info-block {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 1.5rem 0; } }
@media (min-width: 1024px) {
  .result__info-block {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    padding: 0 3%;
    text-align: left;
    position: relative; } }

.result__info-block + .result__info-block {
  margin-top: calc(1.2rem + 0.8vw); }
  @media (min-width: 768px) {
    .result__info-block + .result__info-block {
      margin-top: 0; } }
  @media (min-width: 1024px) {
    .result__info-block + .result__info-block::after {
      content: "";
      height: 90px;
      width: 2px;
      background-color: #e3e3e3;
      position: absolute;
      top: 5%;
      left: 0px; } }

.info-block__title {
  color: #969696;
  font-size: calc(0.6rem + 0.3vw);
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem; }
  @media (min-width: 1024px) {
    .info-block__title {
      margin-bottom: 1rem; } }

.info-block__result {
  color: #2b2b2b;
  font-weight: 600;
  font-size: calc(1rem + 0.6vw); }

.search-bar, .result {
  -webkit-box-shadow: 0 1.6rem 1.2rem -1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.6rem 1.2rem -1rem rgba(0, 0, 0, 0.2); }

#map {
  height: calc(100vh - 300px);
  position: relative;
  z-index: 0; }

.leaflet-container {
  overflow: hidden; }

.leaflet-control-container {
  position: absolute;
  bottom: 100px; }
  @media (min-width: 1024px) {
    .leaflet-control-container {
      position: initial; } }

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #c9c9c9;
  border-radius: 50%;
  border-top-color: #2b2b2b;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite; }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }
.hide {
  display: none; }

.error.search-bar__input {
  border: 2px solid #df0101; }

.error-message {
  color: #ff3c3c;
  font-size: 1rem;
  position: absolute;
  left: 50%;
  bottom: -28px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: fadein .5s linear;
          animation: fadein .5s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  opacity: 0; }

@-webkit-keyframes fadein {
  to {
    opacity: 1; } }

@keyframes fadein {
  to {
    opacity: 1; } }
.ipAddress-form {
  max-width: 550px;
  margin: auto;
  position: relative;
  font-weight: 500; }

.attribution {
  font-size: 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media (max-width: 767px) {
    .attribution {
      display: none; } }
  @media (min-width: 768px) {
    .attribution {
      font-size: 0.8rem; } }

.animate__animated.animate__shakeX {
  --animate-duration: 1s; }

@media (max-width: 767px) {
  .moveAway {
    -webkit-animation: moveAway 0.6s ease-out;
            animation: moveAway 0.6s ease-out;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; } }

@media (max-width: 767px) {
  .moveBack {
    -webkit-animation: moveBack 0.6s ease-in;
            animation: moveBack 0.6s ease-in;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; } }

@-webkit-keyframes moveAway {
  to {
    -webkit-transform: translateY(25px);
            transform: translateY(25px); } }

@keyframes moveAway {
  to {
    -webkit-transform: translateY(25px);
            transform: translateY(25px); } }
@-webkit-keyframes moveBack {
  to {
    -webkit-transform: initial;
            transform: initial; } }
@keyframes moveBack {
  to {
    -webkit-transform: initial;
            transform: initial; } }

/*# sourceMappingURL=style.css.map */
